<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="bg-dark">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4 col-sm-6">

		<div class="card bg-light ">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${usuario}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li class="mx-3" th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<h4 class="card-title text-end">
					<a class="btn btn-light btn-outline-secondary"
						th:href="@{'/app/listar'}"
						th:text="'&laquo; Volver'"></a>
				</h4>
				<form class="g-3" th:action="@{/app/form}" th:object="${usuario}" method="post" enctype="multipart/form-data">
					<div class="row g-3">
						<div class="col-md-12">
							<label class="form-label">Usuario</label>
							<input type="text" th:field="*{usuario}" class="form-control" th:errorclass="'form-control is-invalid'" /> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></small>
						</div>
	
						<!-- Si estoy editando no muestro el campo password -->
						<div class="col-md-12" th:if="*{id == null}">
							<label class="form-label">Password</label>
								<input type="text" th:field="*{password}" class="form-control" th:errorclass="'form-control is-invalid'"/> 
								<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
						</div>
						
						
						<div class="col-md-6">
							<label class="form-label">Usuario Activo</label>
								<select class="form-select" th:field="*{activo}" id="activo" name="activo" >
									<option value="true" >Activo</option>
									<option value="false" >Inactivo</option>
								</select>
						</div>
						<div class="col-md-6">
							<label class="form-label">Teléfono</label>
							<input type="text" th:field="*{datoPersonal.telefono}" class="form-control"/> 
						</div>
						<div class="col-md-6">
							<label class="form-label">Usuario Teco</label>
							<input type="text" th:field="*{datoPersonal.usuarioTeco}" class="form-control"/> 
						</div>
						<div class="col-md-6">
							<label class="form-label">Oblea</label>
							<input type="text" th:field="*{datoPersonal.oblea}" class="form-control"/> 
						</div>
						<div class="col-md-6">
							<label class="form-label">Fecha Ingreso</label>
							<input type="date" th:field="*{datoPersonal.fechaIngreso}" class="form-control" th:errorclass="'form-control is-invalid'" id="fechaIngreso"/> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('datoPersonal.fechaIngreso')}" th:errors="*{datoPersonal.fechaIngreso}"></small>
						</div>
						<div class="col-md-6">
							<label class="form-label">Fecha Último Ascenso</label>
							<input type="date" th:field="*{datoPersonal.ultimoAscenso}" class="form-control"/> 
						</div>
						<div class="col-md-12">
							<label for="file" class="form-label">Foto</label>
							<input type="file" name="file" class="form-control"/>
						</div>
						
						<div class="col-md-12">
							<label for="file" class="form-label">Roles</label>
						</div>



						<div th:if="${usuario.id == null}">
							<div class="container d-flex justify-content-center" >
								<div class="form-check form-switch mx-4" th:each="rol: ${roles}">
								  <input class="form-check-input" type="checkbox" role="switch" th:id="${rol.id}" name="rol" th:value="${rol.id}">
								  <label class="form-check-label" th:for="${rol.id}" th:text="${rol.descripcion}"></label>
								</div>
							</div>
						</div>
<!-- 						<div > -->
						<div th:if="${usuario.id != null}" id="RolesDeEdicion" class="container d-flex justify-content-center" >
						
						</div>
							


						<div class="form-group">
							<div class="col-sm-12">
								<input type="submit" th:value="${titulo}"
									class="btn btn-light btn-outline-secondary mt-5" />
							</div>
						</div>
	
						<!-- Lo sacamos para usar sesiones y guardar ese dato en el controlador sin necesidad de tener q manejarlo aca -->
						<!--<input type="hidden" th:field="*{id}"/> -->
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="requerimiento/js/autocomplete-fases :: javascript"></script>
	
	<script type="text/javascript" th:inline="javascript">
	
	$(document).ready(function() {
		
		const  div = document.getElementById('RolesDeEdicion');
		
		var htmlTemplateCheq = `<div class="form-check form-switch mx-4">
									  <input checked="checked" class="form-check-input" type="checkbox" role="switch" id="ID" name="rol" value="ID">
									  <label class="form-check-label" for="ID">XX</label>
									</div>`
									
		var htmlTemplate = `<div class="form-check form-switch mx-4">
							  <input class="form-check-input" type="checkbox" role="switch" id="ID" name="rol" value="ID">
							  <label class="form-check-label" for="ID">XX</label>
							</div>`
		
		if (div != null){
			
			var listaRolesUsuario = [[${listaRolesUsuario}]];
		    var listaRoles = [[${listaRoles}]];
		    var listaIdRoles = [[${listaIdRoles}]];
		    
		    for (i = 0; i < listaRoles.length; i++) {
// 		    	console.log("Lista Rol: " + listaIdRoles[i] + " " +listaRoles[i] );
		    	var encontro = false;
			    for (j = 0; j < listaRolesUsuario.length; j++) {
// 			    	console.log("	Lista Rol usuario: " + listaRolesUsuario[j]);
			    	if(listaRoles[i] == listaRolesUsuario[j]){
			    		encontro = true;
// 			    		console.log("Encontre");
			    	}
				}
			    if (encontro){
			    	var html = htmlTemplateCheq.replace(/ID/g, listaIdRoles[i]);
			    	html = html.replace(/XX/g, listaRoles[i]);
			    }else{
			    	var html = htmlTemplate.replace(/ID/g, listaIdRoles[i]);
			    	html = html.replace(/XX/g, listaRoles[i]);
			    }
			    
// 			    console.log(html);
			    div.insertAdjacentHTML('afterbegin', html);
		    }
		}
	});
	
	
 	</script> 

</body>
</html>