<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body style="background-image: linear-gradient(to right, #5c5f62, #53565a, #494e52, #40454a, #373d42);">

<header th:replace="layout/layout :: header"></header>
<body style="background-image: linear-gradient(to right, #5c5f62, #53565a, #494e52, #40454a, #373d42);">

<header th:replace="layout/layout :: header"></header>

<div class="card my-2 border-0">
  <!-- 		<div class="card-header" th:text="${titulo}"></div> -->
  <div class="card-body" style="background-image: linear-gradient(to right, #5c5f62, #53565a, #494e52, #40454a, #373d42);">
    <div class="container pt-4">

      <form class="form-group row">
        <div class="col-auto">
          <div class="input-group">
            <div class="input-group-text">Aplicación:</div>
            <select class="form-select" field="appFilter" id="appFilter" name="appFilter">
              <option value="" disabled="disabled" selected="selected">Seleccionar...</option>
              <option th:each="aplicacion: ${aplicaciones}"
                      th:text="${aplicacion.nombre}" th:value="${aplicacion.id}" th:selected="${aplicacion.id} == ${appFilter}">
              </option>
            </select>
          </div>
        </div>
        <div class="col-auto">
          <!-- 						<label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label> -->
          <div class="input-group">
            <div class="input-group-text">Requerimiento:</div>
            <input type="text" class="form-control"
                   id="reqFilter" placeholder="Ej: MOR-100" field="reqFilter" name="reqFilter" th:value="${reqFilter}">
          </div>
        </div>

        <input hidden="true" type="date" class="form-control" id="fecha" name="fecha" th:value="${fecha}">
        <input hidden="true" type="text" class="form-control" id="usuario" name="usuario" th:value="${usuario}">

        <div class="col-auto">
          <button type="submit" class="btn btn-outline-light" onclick="validar();">Buscar ... </button>
        </div>
      </form>
    </div>
  </div>
</div>

<form>
  <!-- 	class="row g-3" th:action="@{/planificacion/form}" th:object="${requerimiento}" method="post"> -->
  <div class="container py-4">
    <div class="card border-light" style="background: linear-gradient(to right, #2980b9, #2c3e50);">
      <div class="card-header text-white" th:text="${titulo}"></div>

      <div class="container pb-4">
        <div class="form-group row py-3">
          <div class="row col-3"></div>
          <label class="col-1 col-form-label text-white text-end" th:text="Usuario"></label>
          <div class="col-2">
            <input type="text" class="form-control bg-secondary text-white text-center" id="usuario" name="usuario" th:value="${usuario}" disabled="disabled">
          </div>
          <label class="col-1 col-form-label text-end text-white" th:text="Fecha"></label>
          <div class="col-2">
            <input type="date" class="form-control bg-secondary text-white text-center" id="fecha" name="fecha" th:value="${fecha}" disabled="disabled">
          </div>
        </div>
      </div>


      <div class="input-group">
        <div class="row col-3"></div>

        <div class="card-body col-6 row">

          <table class="table table-striped table-sm" th:if="${not requerimiento.requerimientoFases.isEmpty()}">
            <thead>
            <tr>
              <!-- 							<th>ID</th> -->
              <th class="text-white">FASES</th>
              <th class="text-white text-center">HS. TOTALES</th>
              <th class="text-white text-center">HS. INSUMIDAS</th>
              <th class="text-white text-center">HS. DISPONIBLES</th>
              <!-- 							<th class="text-center">Ver/Editar</th> -->
              <!-- 							<th class="text-center">Eliminar</th> -->
            </tr>
            </thead>

            <tbody >
            <tr th:each="fases: ${requerimiento.requerimientoFases}">
              <td class="text-white" th:text="${fases.fase.descripcion}">Implementacion</td>
              <td class="text-white text-center" th:text="${fases.cantidadHoras}"></td>
              <td class="text-white text-center" text="${requerimiento.descripcion}">5</td>
              <td class="text-white text-center" text="${requerimiento.cantidadHoras}">15</td>
            </tr>
            </tbody>

          </table>
        </div>
        <div class="row col-3"></div>
      </div>

      <div class="container pb-4">
        <div class="form-group row py-3">
          <div class="row col-1"></div>
          <label class="col-2 col-form-label text-end text-white" th:text="'Fase'"></label>
          <div class="col-3">
            <select class="form-select" field="appFilter" id="appFilter" name="appFilter">
              <option value="" disabled="disabled" selected="selected">Seleccionar...</option>
              <option th:each="fases: ${requerimiento.requerimientoFases}"
                      th:text="${fases.fase.descripcion}" th:value="${fases.fase.id}">
                <!-- 								th:text="${fases.fase.descripcion}" th:value="${fases.fase.id}" th:selected="${aplicacion.id} == ${appFilter}"> -->
              </option>
            </select>
          </div>

          <label class="col-2 col-form-label text-end text-white" th:text="'Horas planificadas'"></label>
          <div class="col-1">
            <input type="number" class="form-control" id="horasPlanif" name="horasPlanif" >
          </div>
        </div>

        <div class="col-12 text-end">
          <button type="submit" class="btn btn-outline-light" onclick="validar();">Guardar ... </button>
        </div>
      </div>



    </div>

  </div>
</form>

<footer th:replace="layout/layout :: footer"></footer>
<script th:replace="planificacion/js/autocomplete-requerimientos:: javascript"></script>

<script type="text/javascript">
  function validar(){
    var aplicacion = document.getElementById('appFilter');
    if(aplicacion.value == 0 || aplicacion.value == ''){
      alert('Debe seleccionar una aplicación para buscar');
      aplicacion.focus();
      return false;
    }
  }
</script>

</body>



<a class="button">Crear Planificación<a>
</body>
</html>