<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body style="background-image: linear-gradient(to right, #5c5f62, #53565a, #494e52, #40454a, #373d42);">

<header th:replace="layout/layout :: header"></header>


<a class="button">Crear Planificación</a>
  <form action="#" th:action="@{/planning/savePlanning}" th:object="${planning}" method="post">
      <table class="table">
          <thead>
          <tr>
              <th class="table-dark" scope="col"><div class="fs-2 mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                  </svg>
                  Planning
              </div></th>
              <th class="table-light" scope="col">Fecha desde</th>
              <th class="table-light" scope="col">Fecha hasta</th>
              <th class="table-light" scope="col">Puntos de Configuración</th>
              <th class="table-light" scope="col">Puntos de Función</th>
              <th class="table-light" scope="col">Hs no medibles</th>
              <th class="table-dark" scope="col">Total</th>
              <th class="table-dark" scope="col">Total hs reales incurridas</th>
          </tr>
          </thead>
          <tbody>
          <div th:object="${taskEstimacion}" >
          <tr>
              <th class="table-secondary" scope="row" th:utext="#{label.new.planning.estimation}"></th>
              <td class="table-light"><input type="date" class="form-control" th:value="${taskEstimacion.fechaDesdeTarea}" name="fechaDesdeTareaEstimacion" autocomplete="off"/></td>
              <td class="table-light"><input type="date" class="form-control" th:value="${taskEstimacion.fechaHastaTarea}" name="fechaHastaTareaEstimacion" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" th:value="${taskEstimacion.puntosConfiguracion}" name="puntosConfiguracionEstimacion" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" th:value="${taskEstimacion.puntosFuncion}" name="puntosFuncionEstimacion" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control"  th:value="${taskEstimacion.hsNoMedibles}" name="hsNoMediblesEstimacion" autocomplete="off"/></td>
              <td class="table-secondary"><input type="number" class="form-control" th:value="${taskEstimacion.totalHsEstimadasTarea}" name="totalHsEstimadasTareaEstimacion" autocomplete="off" readonly/></td>
              <td class="table-secondary"><input type="number" class="form-control" th:value="${taskEstimacion.totalHsRealesEstimadasTarea}" name="totalHsRealesEstimadasTareaEstimacion" autocomplete="off" readonly/></td>
          </tr>
          <tr>
              <th class="table-secondary" scope="row" th:utext="#{label.new.planning.detail.design}"></th>
              <td class="table-light"><input type="date" class="form-control" th:value="${disenoDetalladoEstimacion.fechaDesdeTarea}" autocomplete="off"/></td>
              <td class="table-light"><input type="date" class="form-control" th:value="${disenoDetalladoEstimacion.fechaHastaTarea}" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" th:value="${disenoDetalladoEstimacion.puntosConfiguracion}" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" th:value="${disenoDetalladoEstimacion.puntosFuncion}" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" th:value="${disenoDetalladoEstimacion.hsNoMedibles}" autocomplete="off"/></td>
              <td class="table-secondary"><input type="number" class="form-control" th:value="${disenoDetalladoEstimacion.totalHsEstimadasTarea}" autocomplete="off" readonly/></td>
              <td class="table-secondary"><input type="number" class="form-control" th:value="${disenoDetalladoEstimacion.totalHsRealesEstimadasTarea}" autocomplete="off" readonly/></td>
          </tr>
          <tr>
              <th class="table-secondary" scope="row">Diseño Global/ Técnico</th>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
          </tr>
          <tr>
              <th class="table-secondary" scope="row">Construcción</th>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
          </tr>
          <tr>
              <th class="table-secondary" scope="row">Prueba Unitaria y String</th>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
          </tr>
          </tbody>
          <tr>
              <th class="table-secondary" scope="row">Soporte Prueba Integración</th>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
          </tr>
          <tr>
              <th class="table-secondary" scope="row">Soporte Prueba Aceptacion Usuario</th>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="date" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-light"><input type="number" class="form-control" autocomplete="off"/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
              <td class="table-secondary"><input type="number" class="form-control" autocomplete="off" readonly/></td>
          </tr>
      </table>
        <input type="submit" value="Submit" />
  </form>
</body>

<footer th:replace="layout/layout :: footer"></footer>
</html>