<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body style="background-image: linear-gradient(to right, #5c5f62, #53565a, #494e52, #40454a, #373d42);">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			
				
				<form class="row row-cols-lg-auto g-5 align-items-center">
					<div class="">
						<!-- 						<label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label> -->
						<div class="input-group">
							<div class="input-group-text">Usuario:</div>
							<input type="text" class="form-control"
								id="usuarioFilter" placeholder="" field="usuarioFilter" name="usuarioFilter" th:value="${usuarioFilter}">
						</div>
					</div>

					<div class="">
						<div class="input-group">
							<div class="input-group-text">Fecha:</div>
							<input type="date" class="form-control"
								id="fechaFilter" field="fechaFilter" name="fechaFilter" th:value="${fechaFilter}">
						</div>
					</div>

					<div class="">
							<button type="submit" class="btn btn-outline-primary" onclick="validar();">Buscar ... </button>
					</div>
<!-- 					<div class=""> -->
<!-- 							<button type="button" class="btn btn-outline-danger" onclick="borrarFiltro();">Eliminar ... </button> -->
<!-- 					</div> -->
				</form>

				<!-- Lista con los dias de la semana -->
				<div class="accordion py-3" id="semanal">
					
					<!------- Lunes -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="lunes-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#lunes-collapseOne"
								aria-expanded="false" aria-controls="lunes-collapseOne">
								
								<div class="col-8">Lunes</div> <div class="col-3">Cantidad horas: <strong id="horasLunes"></strong><strong> hs.</strong></div>
								
							</button>
						</h2>
						<div id="lunes-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="lunes-headingOne"
							data-bs-parent="#lunes">
							<div class="accordion-body">
								
								<table class="table table-striped" id="tablaLunes">
						        	<thead>
										<tr>
											<th>Aplicación</th>
											<th>Requerimiento</th>
											<th>Fase</th>
											<th>Horas Planificadas</th>
											<th>Horas Incurridas</th>
											<th>Fecha</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="lu: ${lunes}">
										<td th:text="${lu.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td th:text="${lu.requerimientoFases.requerimiento.requerimiento}"></td>
										<td th:text="${lu.requerimientoFases.fase.descripcion}"></td>
										<td th:text="${lu.horasPlanificadas}" name="lunesPlanif"></td>
										<td th:text="${lu.horasIncurridas}"></td>
										<td th:text="${lu.fecha}"></td>
									</tr>
									</tbody>
						        </table>
							</div>
						</div>
					</div>
					
					<!------- Martes -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="martes-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#martes-collapseOne"
								aria-expanded="false" aria-controls="martes-collapseOne">
								
								<div class="col-8">Martes</div> <div class="col-3">Cantidad horas: <strong id="horasMartes"></strong> <strong> hs.</strong></div>
								
							</button>
						</h2>
						<div id="martes-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="martes-headingOne"
							data-bs-parent="#martes">
							<div class="accordion-body">
								
								<table class="table table-striped" id="tablaMartes">
						        	<thead>
										<tr>
											<th>Aplicación</th>
											<th>Requerimiento</th>
											<th>Fase</th>
											<th>Horas Planificadas</th>
											<th>Horas Incurridas</th>
											<th>Fecha</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="ma: ${martes}">
										<td th:text="${ma.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td th:text="${ma.requerimientoFases.requerimiento.requerimiento}"></td>
										<td th:text="${ma.requerimientoFases.fase.descripcion}"></td>
										<td th:text="${ma.horasPlanificadas}"></td>
										<td th:text="${ma.horasIncurridas}"></td>
										<td th:text="${ma.fecha}"></td>
									</tr>
									</tbody>
						        </table>
							</div>
						</div>
					</div>
					
					<!------- Miercoles -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="miercoles-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#miercoles-collapseOne"
								aria-expanded="false" aria-controls="miercoles-collapseOne">
								
								<div class="col-8">Miercoles</div> <div class="col-3">Cantidad horas: <strong id="horasMiercoles"></strong><strong> hs.</strong></div>
								
							</button>
						</h2>
						<div id="miercoles-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="miercoles-headingOne"
							data-bs-parent="#miercoles">
							<div class="accordion-body">
								
								<table class="table table-striped" id="tablaMiercoles">
						        	<thead>
										<tr>
											<th>Aplicación</th>
											<th>Requerimiento</th>
											<th>Fase</th>
											<th>Horas Planificadas</th>
											<th>Horas Incurridas</th>
											<th>Fecha</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="mi: ${miercoles}">
										<td th:text="${mi.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td th:text="${mi.requerimientoFases.requerimiento.requerimiento}"></td>
										<td th:text="${mi.requerimientoFases.fase.descripcion}"></td>
										<td th:text="${mi.horasPlanificadas}"></td>
										<td th:text="${mi.horasIncurridas}"></td>
										<td th:text="${mi.fecha}"></td>
									</tr>
									</tbody>
						        </table>
							</div>
						</div>
					</div>
					
					<!------- Jueves -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="jueves-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#jueves-collapseOne"
								aria-expanded="false" aria-controls="jueves-collapseOne">
								
								<div class="col-8">Jueves</div> <div class="col-3">Cantidad horas: <strong id="horasJueves"></strong><strong> hs.</strong></div>
								
							</button>
						</h2>
						<div id="jueves-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="jueves-headingOne"
							data-bs-parent="#jueves">
							<div class="accordion-body">
								
								<table class="table table-striped" id="tablaJueves">
						        	<thead>
										<tr>
											<th>Aplicación</th>
											<th>Requerimiento</th>
											<th>Fase</th>
											<th>Horas Planificadas</th>
											<th>Horas Incurridas</th>
											<th>Fecha</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="ju: ${jueves}">
										<td th:text="${ju.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td th:text="${ju.requerimientoFases.requerimiento.requerimiento}"></td>
										<td th:text="${ju.requerimientoFases.fase.descripcion}"></td>
										<td th:text="${ju.horasPlanificadas}"></td>
										<td th:text="${ju.horasIncurridas}"></td>
										<td th:text="${ju.fecha}"></td>
									</tr>
									</tbody>
						        </table>
							</div>
						</div>
					</div>
					
					<!------- Viernes -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="viernes-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#viernes-collapseOne"
								aria-expanded="false" aria-controls="viernes-collapseOne">
								
								<div class="col-8">Viernes</div> <div class="col-3">Cantidad horas: <strong id="horasViernes"></strong><strong> hs.</strong></div>
								
							</button>
						</h2>
						<div id="viernes-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="viernes-headingOne"
							data-bs-parent="#viernes">
							<div class="accordion-body">
								
								<table class="table table-striped" id="tablaViernes">
						        	<thead>
										<tr>
											<th>Aplicación</th>
											<th>Requerimiento</th>
											<th>Fase</th>
											<th>Horas Planificadas</th>
											<th>Horas Incurridas</th>
											<th>Fecha</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="vi: ${viernes}">
										<td th:text="${vi.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td th:text="${vi.requerimientoFases.requerimiento.requerimiento}"></td>
										<td th:text="${vi.requerimientoFases.fase.descripcion}"></td>
										<td th:text="${vi.horasPlanificadas}"></td>
										<td th:text="${vi.horasIncurridas}"></td>
										<td th:text="${vi.fecha}"></td>
									</tr>
									</tbody>
						        </table>
							</div>
						</div>
					</div>
					
					
					
				</div>



			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="planificacion/js/script :: javascript"></script>

</body>
</html>