<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>


<style type="text/css">
/* .accordion-item { */
/*   	border: 1px solid rgba(35, 65, 100, .15); */
/* } */

/*  .accordion-button:not(.collapsed) {  */
/* 	color: inherit;  */
/*   	background: rgb(35, 65, 100);  */
/*    	color: #e8e8e8;  */
/*  }  */

/* .accordion-button:not(.collapsed)::after { */
/*   	filter: brightness(0%) invert (70%); */
/* } */

 .accordion-button:focus { 
  	 box-shadow: inherit; 
 } 
</style>

<body style="background-image: linear-gradient(to right, #5c5f62, #53565a, #494e52, #40454a, #373d42);">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header text-white" th:text="${titulo}" style="background-color: #3B4B59;"></div>
			<div class="card-body" style="background-color: #3B4B59;">
			
				<form class="row g-5">
					<div class="col-auto">
						<!-- 						<label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label> -->
						<div class="input-group">
							<div class="input-group-text">Usuario:</div>
							<input type="text" class="form-control"
								id="usuarioFilter" placeholder="" name="usuarioFilter" th:value="${usuarioFilter}">
						</div>
					</div>

					<div class="col-auto">
						<div class="input-group">
							<div class="input-group-text">Fecha:</div>
							<input type="date" class="form-control"
								id="fechaFilter" field="fechaFilter" name="fechaFilter" th:value="${fechaFilter}">
						</div>
					</div>

					<div class="col-auto">
							<button type="submit" class="btn btn-outline-light" onclick="validar();">Buscar ... </button>
					</div>
					
					<div class="col align-self-end text-end ">
						<a class="btn btn-sm btn-outline-light openall" href="#"><i class="bi bi-plus-circle"></i></a>
						<a class="btn btn-sm btn-outline-light closeall" href="#"><i class="bi bi-dash-circle"></i></a>
					</div>
<!-- 					<div class="col-1 align-self-end text-end"> -->
<!-- 						<a class="btn btn-outline-light closeall" href="#"><i class="bi bi-dash-circle"></i></a> -->
<!-- 						<a class="btn btn-outline-light openall" href="#"><i class="bi bi-plus-circle"></i></a> -->
<!-- 					</div> -->
				</form>
<!-- 				<form class="row row-cols-lg-auto g-5 align-items-center"> -->
<!-- 					<div class=""> -->
<!-- 												<label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label> -->
<!-- 						<div class="input-group"> -->
<!-- 							<div class="input-group-text">Usuario:</div> -->
<!-- 							<input type="text" class="form-control" -->
<!-- 								id="usuarioFilter" placeholder="" field="usuarioFilter" name="usuarioFilter" th:value="${usuarioFilter}"> -->
<!-- 						</div> -->
<!-- 					</div> -->

<!-- 					<div class=""> -->
<!-- 						<div class="input-group"> -->
<!-- 							<div class="input-group-text">Fecha:</div> -->
<!-- 							<input type="date" class="form-control" -->
<!-- 								id="fechaFilter" field="fechaFilter" name="fechaFilter" th:value="${fechaFilter}"> -->
<!-- 						</div> -->
<!-- 					</div> -->

<!-- 					<div class=""> -->
<!-- 							<button type="submit" class="btn btn-outline-light" onclick="validar();">Buscar ... </button> -->
<!-- 					</div> -->
<!-- 				</form> -->

				<!-- Lista con los dias de la semana -->
				<div class="accordion py-3" id="semanal">
					
					<!------- Lunes -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="lunes-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#lunes-collapseOne"
								aria-expanded="false" aria-controls="lunes-collapseOne" style="background: #3B4B59;">
								
								<div class="col-8 text-white">Lunes <span></span></div> 
								<div class="col-3 text-white">Cantidad horas: <strong id="horasLunes"></strong><strong> hs.</strong></div>
								
							</button>
						</h2>
						<div id="lunes-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="lunes-headingOne"
							data-bs-parent="#lunes">
							<div class="accordion-body" style="background: linear-gradient(to right, #2980b9, #2c3e50);">
								
								<table class="table table-striped" id="tablaLunes">
						        	<thead>
										<tr>
											<th class="text-white">APLICACIÓN</th>
											<th class="text-white">REQUERIMIENTO</th>
											<th class="text-white">FASE</th>
											<th class="text-white">HORAS PLANIFICADAS</th>
											<th class="text-white">HORAS INCURRIDAS</th>
											<th class="text-white">FECHA</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="lu: ${lunes}">
										<td class="text-white" th:text="${lu.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td class="text-white" th:text="${lu.requerimientoFases.requerimiento.requerimiento}"></td>
										<td class="text-white" th:text="${lu.requerimientoFases.fase.descripcion}"></td>
										<td class="text-white" th:text="${lu.horasPlanificadas}"></td>
										<td class="text-white" th:text="${lu.horasIncurridas}"></td>
										<td class="text-white" th:text="${lu.fecha}"></td>
									</tr>
									</tbody>
						        </table>
						        <form th:action="@{/planificacion/planificar}" method="get">
						        	<input id="lunes" name="fecha" hidden="true">
						        	<input id="usuario" name="usuario" hidden="true">
						        	<div class="col-12 text-end"> <button type="submit" class="btn btn-outline-light" onclick="enviarUsuario();">Agregar</button></div>
						        </form>
						        
							</div>
						</div>
					</div>
					
					<!------- Martes -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="martes-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#martes-collapseOne"
								aria-expanded="false" aria-controls="martes-collapseOne" style="background: #3B4B59;">
								
								<div class="col-8 text-white">Martes</div> <div class="col-3 text-white">Cantidad horas: <strong id="horasMartes"></strong> <strong>hs.</strong></div>
								
							</button>
						</h2>
						<div id="martes-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="martes-headingOne"
							data-bs-parent="#martes">
							<div class="accordion-body" style="background: linear-gradient(to right, #2980b9, #2c3e50);">
								
								<table class="table table-striped" id="tablaMartes">
						        	<thead>
										<tr>
											<th class="text-white">APLICACIÓN</th>
											<th class="text-white">REQUERIMIENTO</th>
											<th class="text-white">FASE</th>
											<th class="text-white">HORAS PLANIFICADAS</th>
											<th class="text-white">HORAS INCURRIDAS</th>
											<th class="text-white">FECHA</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="ma: ${martes}">
										<td class="text-white" th:text="${ma.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td class="text-white" th:text="${ma.requerimientoFases.requerimiento.requerimiento}"></td>
										<td class="text-white" th:text="${ma.requerimientoFases.fase.descripcion}"></td>
										<td class="text-white" th:text="${ma.horasPlanificadas}"></td>
										<td class="text-white" th:text="${ma.horasIncurridas}"></td>
										<td class="text-white" th:text="${ma.fecha}"></td>
									</tr>
									</tbody>
						        </table>
						         <form th:action="@{/planificacion/planificar}" method="get">
						        	<input id="martes" name="fecha" hidden="true">
						        	<input id="usuario" name="usuario" hidden="true">
						        	<div class="col-12 text-end"> <button type="submit" class="btn btn-outline-light" onclick="enviarUsuario();">Agregar</button></div>
						        </form>
							</div>
						</div>
					</div>
					
					<!------- Miercoles -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="miercoles-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#miercoles-collapseOne"
								aria-expanded="false" aria-controls="miercoles-collapseOne" style="background: #3B4B59;">
								
								<div class="col-8 text-white">Miercoles</div> <div class="col-3 text-white">Cantidad horas: <strong id="horasMiercoles"></strong><strong> hs.</strong></div>
								
							</button>
						</h2>
						<div id="miercoles-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="miercoles-headingOne"
							data-bs-parent="#miercoles">
							<div class="accordion-body" style="background: linear-gradient(to right, #2980b9, #2c3e50);">
								
								<table class="table table-striped" id="tablaMiercoles">
						        	<thead>
										<tr>
											<th class="text-white">APLICACIÓN</th>
											<th class="text-white">REQUERIMIENTO</th>
											<th class="text-white">FASE</th>
											<th class="text-white">HORAS PLANIFICADAS</th>
											<th class="text-white">HORAS INCURRIDAS</th>
											<th class="text-white">FECHA</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="mi: ${miercoles}">
										<td class="text-white" th:text="${mi.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td class="text-white" th:text="${mi.requerimientoFases.requerimiento.requerimiento}"></td>
										<td class="text-white" th:text="${mi.requerimientoFases.fase.descripcion}"></td>
										<td class="text-white" th:text="${mi.horasPlanificadas}"></td>
										<td class="text-white" th:text="${mi.horasIncurridas}"></td>
										<td class="text-white" th:text="${mi.fecha}"></td>
									</tr>
									</tbody>
						        </table>
						         <form th:action="@{/planificacion/planificar}" method="get">
						        	<input id="miercoles" name="fecha" hidden="true">
						        	<input id="usuario" name="usuario" hidden="true">
						        	<div class="col-12 text-end"> <button type="submit" class="btn btn-outline-light" onclick="enviarUsuario();">Agregar</button></div>
						        </form>
							</div>
						</div>
					</div>
					
					<!------- Jueves -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="jueves-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#jueves-collapseOne"
								aria-expanded="false" aria-controls="jueves-collapseOne" style="background: #3B4B59;">
								
								<div class="col-8 text-white">Jueves</div> <div class="col-3 text-white">Cantidad horas: <strong id="horasJueves"></strong><strong> hs.</strong></div>
								
							</button>
						</h2>
						<div id="jueves-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="jueves-headingOne"
							data-bs-parent="#jueves">
							<div class="accordion-body" style="background: linear-gradient(to right, #2980b9, #2c3e50);">
								
								<table class="table table-striped" id="tablaJueves">
						        	<thead>
										<tr>
											<th class="text-white">APLICACIÓN</th>
											<th class="text-white">REQUERIMIENTO</th>
											<th class="text-white">FASE</th>
											<th class="text-white">HORAS PLANIFICADAS</th>
											<th class="text-white">HORAS INCURRIDAS</th>
											<th class="text-white">FECHA</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="ju: ${jueves}">
										<td class="text-white" th:text="${ju.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td class="text-white" th:text="${ju.requerimientoFases.requerimiento.requerimiento}"></td>
										<td class="text-white" th:text="${ju.requerimientoFases.fase.descripcion}"></td>
										<td class="text-white" th:text="${ju.horasPlanificadas}"></td>
										<td class="text-white" th:text="${ju.horasIncurridas}"></td>
										<td class="text-white" th:text="${ju.fecha}"></td>
									</tr>
									</tbody>
						        </table>
						         <form th:action="@{/planificacion/planificar}" method="get">
						        	<input id="jueves" name="fecha" hidden="true">
						        	<input id="usuario" name="usuario" hidden="true">
						        	<div class="col-12 text-end"> <button type="submit" class="btn btn-outline-light" onclick="enviarUsuario();">Agregar</button></div>
						        </form>
							</div>
						</div>
					</div>
					
					<!------- Viernes -------->
					<div class="accordion-item">
						<h2 class="accordion-header" id="viernes-headingOne">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#viernes-collapseOne"
								aria-expanded="false" aria-controls="viernes-collapseOne" style="background: #3B4B59;">
								
								<div class="col-8 text-white">Viernes</div> <div class="col-3 text-white">Cantidad horas: <strong id="horasViernes"></strong><strong> hs.</strong></div>
								
							</button>
						</h2>
						<div id="viernes-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="viernes-headingOne"
							data-bs-parent="#viernes">
							<div class="accordion-body" style="background: linear-gradient(to right, #2980b9, #2c3e50);">
								
								<table class="table table-striped" id="tablaViernes">
						        	<thead>
										<tr>
											<th class="text-white">APLICACIÓN</th>
											<th class="text-white">REQUERIMIENTO</th>
											<th class="text-white">FASE</th>
											<th class="text-white">HORAS PLANIFICADAS</th>
											<th class="text-white">HORAS INCURRIDAS</th>
											<th class="text-white">FECHA</th>
										</tr>
									</thead>	
									<tbody>
									<tr th:each="vi: ${viernes}">
										<td class="text-white" th:text="${vi.requerimientoFases.requerimiento.aplicacion.nombre}"></td>
										<td class="text-white" th:text="${vi.requerimientoFases.requerimiento.requerimiento}"></td>
										<td class="text-white" th:text="${vi.requerimientoFases.fase.descripcion}"></td>
										<td class="text-white" th:text="${vi.horasPlanificadas}"></td>
										<td class="text-white" th:text="${vi.horasIncurridas}"></td>
										<td class="text-white" th:text="${vi.fecha}"></td>
									</tr>
									</tbody>
						        </table>
						         <form th:action="@{/planificacion/planificar}" method="get">
						        	<input id="viernes" name="fecha" hidden="true">
						        	<input id="usuario" name="usuario" hidden="true">
						        	<div class="col-12 text-end"> <button type="submit" class="btn btn-outline-light" onclick="enviarUsuario();">Agregar</button></div>
						        </form>
							</div>
						</div>
					</div>
					
					
					
				</div>



			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="planificacion/js/script :: javascript"></script>
	<script th:replace="planificacion/js/autocomplete-usuarios :: javascript"></script>

</body>
</html>