

<div th:fragment="grilla-usuario">

  <div class="accordion" id="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsuarios" aria-expanded="false">
          Usuarios

        </button>
      </h2>
      <div id="collapseUsuarios" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body d-flex p-0">
          <div class="flex-shrink-0 bg-danger d-flex" style="width: 400px;">
            <div class="col-6 border-end registro">
              <div class="border-bottom">Horas totales</div>
              <div class="fase border-bottom">
                Natalia Fioren
              </div>
              <div class="fase border-bottom">
                Diego Morinigo
              </div>
            </div>

            <div class="col-2 border-end registro">
              <div class="border-bottom d-flex align-items-center justify-content-center">Estim.</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">42</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">12</div>
            </div>

            <div class="col-2 border-end registro">
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">Planif.</div>
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">42</div>
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">12</div>
            </div>

            <div class="col-2 border-end registro">
              <div class="border-bottom d-flex align-items-center justify-content-center">Incur.</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">42</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">12</div>
            </div>


          </div>
          <div class="flex-grow-1">
            <div class="w-100 h-100 d-flex overflow-auto contenedor">
              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">01</div>
                <input type="text" readonly class="form-control-plaintext  border-bottom bg-secondary text-center" value="-"/>
                <input type="text" readonly class="form-control-plaintext border-bottom bg-secondary text-center" value="-"/>
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">01</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">02</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">02</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">03</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">03</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">04</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">04</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">05</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">05</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">06</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">06</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">07</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">07</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">08</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">08</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:fragment="grilla-requerimiento">

  <div class="accordion" id="accordionRegistro" >
    <div class="accordion-item" th:each="req: ${requerimientos}">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${req}" aria-expanded="false"
                th:text="${req}">
          SHIVA -

        </button>
      </h2>
      <div th:id="'collapse' + ${req}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body d-flex p-0">
          <div class="flex-shrink-0 bg-danger d-flex" style="width: 400px;">
            <div class="col-6 border-end registro">
              <div class="border-bottom">Fechas</div>
              <div class="border-bottom">
                Horas
              </div>
              <div class="fase border-bottom">
                <span style="font-weight: bold">Analisis</span>
              </div>
              <div class="usuario border-bottom">
                Natalia Fioren
              </div>
              <div class="usuario border-bottom">
                Diego Morinigo
              </div>
              <div class="fase border-bottom">
                <span style="font-weight: bold">Desarrollo</span>
              </div>
              <div class="usuario border-bottom">
                Natalia Fioren
              </div>
            </div>

            <div class="col-2 border-end registro">
              <div class="border-bottom d-flex align-items-center justify-content-center">Estim.</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">42</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">12</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">-</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">-</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">30</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">-</div>
            </div>

            <div class="col-2 border-end registro">
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">Planif.</div>
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">42</div>
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">12</div>
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">8</div>
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">4</div>
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">3</div>
              <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">30</div>
            </div>

            <div class="col-2 border-end registro">
              <div class="border-bottom d-flex align-items-center justify-content-center">Incur.</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">42</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">12</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">8</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">4</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">30</div>
              <div class="border-bottom d-flex align-items-center justify-content-center">30</div>
            </div>


          </div>
          <div class="flex-grow-1 ">
            <div class=" w-100 h-100 d-flex overflow-auto contenedor">
              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">01</div>
                <input type="text" readonly class="form-control-plaintext  border-bottom bg-secondary text-center" value="-"/>
                <input type="text" readonly class="form-control-plaintext border-bottom bg-secondary text-center" value="-"/>
                <input type="text" readonly class="form-control-plaintext border-bottom bg-secondary text-center" value="04"/>
                <input type="text" readonly class="form-control-plaintext border-bottom bg-secondary text-center" value="04"/>
                <input type="text" readonly class="form-control-plaintext border-bottom bg-secondary text-center" value="-"/>
                <input type="text" readonly class="form-control-plaintext border-bottom bg-secondary text-center" value="-"/>
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">01</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">02</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">02</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">03</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">03</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">04</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">04</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">05</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">05</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">06</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">06</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">07</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">07</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-secondary d-flex align-items-center justify-content-center">08</div>
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-secondary text-center" />
              </div>

              <div class="col-1 border-end registro">
                <div class="border-bottom bg-white d-flex align-items-center justify-content-center">08</div>
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
                <input type="text" class="form-control-plaintext border-bottom bg-white text-center" />
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

