<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-danger text-white">
			<div class="card-header">Error: Acceso Denegado! </div>
			<div class="card-body">
<!-- 			se podria obtener el usuario tmb con: <span th:text="${#authentication.name}"></span> -->
			<h5 class="card-title">Lo sentimos <span th:text="${#httpServletRequest.remoteUser}"></span>, no tienes permisos para acceder a este recurso</h5>
			<a th:href="@{/app/listar}" class="btn btn-outline-light" role="button">Volver al Inicio</a>
			</div>
		</div>

	</div>
	<a></a>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>