<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<nav th:fragment="paginator">

	<ul class="pagination">
		<li class="page-item" th:class="${page.first? 'page-item disabled' : 'page-item'}">
			<span class="page-link bg-transparentt text-whitee" th:if="${page.first}"><i class="bi bi-chevron-double-left"></i></span>
			<a class="page-link" th:if="${not page.first}" th:href="@{${page.url} (page=0)}"><i class="bi bi-chevron-double-left"></i></a>
		</li>
		<li class="page-item" th:class="${not page.hasPrevious? 'page-item disabled' : 'page-item'}">
			<span class="page-link" th:if="${not page.hasPrevious}" ><i class="bi bi-chevron-left"></i></span>
			<a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url} (page=${page.paginaActual - 2})}"><i class="bi bi-chevron-left"></i></a>
		</li>
		<li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual? 'page-item active' : 'page-item'}">
			<span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
			<a class="page-link" th:if="${not item.actual}" th:href="@{${page.url} (page=${item.numero-1}) }" th:text="${item.numero}"></a>
		</li>
		<li class="page-item" th:class="${not page.hasNext? 'page-item disabled' : 'page-item'}">
			<span class="page-link" th:if="${not page.hasNext}" ><i class="bi bi-chevron-right"></i></span>
			<a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url} (page=${page.paginaActual})}"><i class="bi bi-chevron-right"></i></a>
		</li>
		<li class="page-item" th:class="${page.last? 'page-item disabled' : 'page-item'}">
			<span class="page-link" th:if="${page.last}" ><i class="bi bi-chevron-double-right"></i></span>
			<a class="page-link" th:if="${not page.last}" th:href="@{${page.url} (page=${page.totalPaginas - 1})}"><i class="bi bi-chevron-double-right"></i></a>
		</li>
	
	</ul>
	
</nav>

</body>
</html>