<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body style="background-image: linear-gradient(to right, #5c5f62, #53565a, #494e52, #40454a, #373d42);">

<header th:replace="layout/layout :: header"></header>

<div class="container py-4 text-white">
	<div class="card border-white" style="background: linear-gradient(to right, #2980b9, #2c3e50);">
		<div class="card-header" th:text="${titulo}"></div>
		<div class="card-body">

			<form class="row g-3" th:action="@{/requerimientos/form}"
				  th:object="${requerimiento}" method="post">
				<h4 class="card-title text-end pb-2">
					<a class="btn btn-outline-light"
					   th:href="@{'/requerimientos/listar-requerimientos'}"
					   th:text="'&laquo; Volver'"></a>
					<button class="btn btn-success" type="submit"
					   th:utext="#{form.requirement.save.button.label}"></button>
				</h4>

				<div class="form-group row py-2">
					<label class="col-sm-2 col-form-label" th:text="Requerimiento"></label>
					<div class="col-sm-2">
						<input type="text" th:field="*{requerimiento}"
							   class="form-control" th:errorclass="'form-control is-invalid'" />
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('requerimiento')}"
							 th:errors="*{requerimiento}"></div>
					</div>
					<label class="col-sm-2 col-form-label text-end" th:text="Aplicación"></label>
					<div class="col-sm-2">
						<select class="form-select" th:field="*{aplicacion}" id="aplicacion" name="aplicacion" th:errorclass="'form-control is-invalid'">
							<option value="">Seleccionar...</option>
							<option th:each="aplicacion : ${T(com.workschedule.app.enums.Aplicacion).values()}"
									th:text="${aplicacion}"
									th:value="${aplicacion}">
							</option>
						</select>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('aplicacion')}"
							 th:errors="*{aplicacion}">
						</div>

					</div>
					<label class="col-sm-2 col-form-label text-end" th:text="Estado"></label>
					<div class="col-sm-2">
						<select class="form-select" th:field="*{estado}" id="estado" name="estado" th:errorclass="'form-control is-invalid'">
							<option value="">Seleccionar...</option>
							<option th:each="estado : ${T(com.workschedule.app.enums.EstadoRequerimiento).values()}"
									th:text="${estado}"
									th:value="${estado.name()}">
							</option>
						</select>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('estado')}"
							 th:errors="*{estado}">
						</div>

					</div>

					<div class="form-group row py-2">
						<label class="col-sm-2 col-form-label" th:text="Descripción"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control"
								   th:errorclass="'form-control is-invalid'" />
							<div th:if="${#fields.hasErrors('descripcion')}" th:class="${#fields.hasErrors('descripcion')}? invalid-feedback">
								<p th:errors="*{descripcion}"></p>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group row padding-top-1">
					<label class="col-sm-2 col-form-label" th:text="Observaciones"></label>
					<div class="col-sm-6">
						<textarea th:field="*{observacion}" rows="" class="form-control"></textarea>
					</div>
				</div>

				<div class="form-group row py-3">
					<label class="col-sm-2 col-form-label" th:utext="#{form.requirement.date.planned.testing}"></label>
					<div class="col-sm-2">
						<input id="fechaPlanifTesting" type="date" data-date="" data-date-format="dd-MM-yyyy" value="${currentDate}" th:field="*{fechaPlanifTesting}" class="form-control"
							   th:errorclass="'form-control is-invalid'" />
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('fechaPlanifTesting')}"
							 th:errors="*{fechaPlanifTesting}"></div>
					</div>
					<label class="col-sm-2 col-form-label" th:utext="#{form.requirement.date.real.testing}"></label>
					<div class="col-sm-2">
						<input id="fechaRealTesting" type="date" data-date="" data-date-format="dd-MM-yyyy" value="${currentDate}" th:field="*{fechaRealTesting}" />
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('fechaRealTesting')}"
							 th:errors="*{fechaRealTesting}"></div>
					</div>
					<label class="col-sm-2 col-form-label" th:utext="#{form.requirement.reason.replanning.testing}"></label>
					<div class="col-sm-2">
						<select class="form-select" name="motivoReplanifTesting" id="motivoReplanifTesting" th:field="*{motivoReplanifTesting}" >
							<option value="empty">Seleccionar...</option>
							<option th:each="motivoReplanifTesting : ${T(com.workschedule.app.enums.MotivoReplanificacion).values()}"
									th:text="${motivoReplanifTesting}"
									th:value="${motivoReplanifTesting.name()}">
							</option>
						</select>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('motivoReplanifTesting')}"
							 th:errors="*{motivoReplanifTesting}">
						</div>
					</div>
				</div>

				<div class="form-group row py-3">
					<label class="col-sm-2 col-form-label" th:utext="#{form.requirement.date.planned.imple}"></label>
					<div class="col-sm-2">
						<input id="fechaPlanifImplementacion" type="date" data-date="" data-date-format="dd-MM-yyyy" value="${currentDate}" th:field="*{fechaPlanifImplementacion}">
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('fechaPlanifImplementacion')}"
							 th:errors="*{fechaPlanifImplementacion}"></div>
					</div>
					<label class="col-sm-2 col-form-label" th:utext="#{form.requirement.date.real.imple}"></label>
					<div class="col-sm-2">
						<input id="fechaRealImplementacion" type="date" data-date="" data-date-format="yyyy-MM-dd" value="${currentDate}" th:field="*{fechaRealImplementacion}">
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('fechaRealImplementacion')}"
							 th:errors="*{fechaRealImplementacion}"></div>
					</div>
					<label class="col-sm-2 col-form-label" th:utext="#{form.requirement.reason.replanning.imple}"></label>
					<div class="col-sm-2">
						<select class="form-select" name="motivoReplanifImplementacion" id="motivoReplanifImplementacion" th:field="*{motivoReplanifImplementacion}" >
							<option value="empty">Seleccionar...</option>
							<option th:each="motivoReplanifImplementacion : ${T(com.workschedule.app.enums.MotivoReplanificacion).values()}"
									th:text="${motivoReplanifImplementacion}"
									th:value="${motivoReplanifImplementacion.name()}">
							</option>
						</select>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('motivoReplanifImplementacion')}"
							 th:errors="*{motivoReplanifImplementacion}">
						</div>
					</div>
				</div>

				<div class="form-group row py-3">
					<label class="col-sm-2 col-form-label" th:utext="#{form.requirement.user}"></label>
					<div class="col-sm-2">
						<input id="user" type="text" th:value="${username}" class="form-control" readonly>
					</div>
					<label class="col-sm-2 col-form-label" th:utext="#{form.requirement.type}"></label>
					<div class="col-sm-2">
						<select class="form-select" name="tipoRequerimiento" id="tipoRequerimiento" th:field="*{tipoRequerimiento}" required>
							<option value="empty">Seleccionar...</option>
							<option th:each="tipoRequerimiento : ${T(com.workschedule.app.enums.TipoRequerimiento).values()}"
									th:text="${tipoRequerimiento}"
									th:value="${tipoRequerimiento}">
							</option>
						</select>
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('tipoRequerimiento')}"
							 th:errors="*{tipoRequerimiento}">
						</div>
					</div>

				</div>

				<div class="form-group row py-3">
					<label class="col-sm-2 col-form-label"
						   th:text="'Cantidad' + ' Horas'"></label>
					<div class="col-sm-2">
						<input type="text"
							   id="total_fases" class="input-totalizador" disabled />
					</div>
				</div>

				<div class="form-group row py-3">
					<div class="col-sm-2">
						<button id="addEstimationBtn" type="button" onclick="addEstimation()" disabled class="btn btn-primary">
							<span th:utext="#{form.requirement.button.add.estimated}"></span>
						</button>
					</div>
				</div>


				<div class="form-group row py-5">

					<div class="col-sm-6 border-0">
						<div class="" id="tablaEstimaciones">
						</div>
						<input type="hidden" id="longitudEstimaciones" name="longitudEstimaciones">
					</div>

				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" id="new-phase-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Agrega una nueva fase</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<input type="text" id="namePhase" name="namePhase" placeholder="Nombre de Fase"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" onclick="addNewPhase();">Guardar</button>
			</div>
		</div>
	</div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
<script type="text/javascript" th:inline="javascript">
	var countEstimation=0;
	var numEstimaciones = 0;
	$(document).ready(function() {
		let buttonAddEstimationDisabled = $('#addEstimationBtn').disabled;

		if(!buttonAddEstimationDisabled) {
			//
		}

		document.getElementsByName("tipoRequerimiento")[0].addEventListener('change', loadFases);
	});

	function createEstimationObj(version, cardBody) {
		//resetear en cero todos los input hidden q ya dejarian de ser activos
		let cantEstimaciones = $(".horas").length
		if(cantEstimaciones > 1) {
			disabledAllInput();
			var elements = document.getElementsByName('cantidadHoras');
			for (var i = 0; i < elements.length; i++) {
				var my_json_string = elements[i].nextSibling.value;
				console.log("valor node json:", my_json_string);
				//const activoJson = { "activo": 0 };
				//const copiedObject = Object.assign(my_json_string, activoJson);
				let estimacion = JSON.parse(my_json_string);
				estimacion.activo = 0;
				//elements[i].nextSibling.value = JSON.stringify(estimacion, null, 2);
			}
		}
		cardBody.querySelectorAll('#cantidadHoras')
				.forEach((input) => {
					input.removeAttribute("disabled");
					numEstimaciones++;
					console.log("se crearon tantas estimaciones:", numEstimaciones);
					let versionLabel = input.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector('label').textContent;
					const versionSplit = versionLabel.split(" ");
					const originalObject = { fase: input.parentNode.parentNode.parentNode.firstChild.textContent, version: parseInt(versionSplit[1]), cantidadHoras: parseInt(input.value), usuarioAlta: [[${username}]], activo: 1};
					const copiedObject = Object.assign({}, originalObject);
					let  jsonString = JSON.stringify(copiedObject, null, 2);
					console.log("elemnto siguiente:", input.nextSibling);
					input.nextSibling.value = jsonString;
				});

	}
	function calculateTotal(that) {
		var total=0;
		var elements = document.body.getElementsByTagName('cantidadHoras');

		for (var i = 0; i < elements.length; i++) {
			if(isNaN(parseInt(elements[i].value))) {
				total += 0;
			} else if(elements[i].value.trim() !== "" && !elements[i].disabled) { //&& attrDisabled == null
				total += parseInt(elements[i].value);
			} else {
				total += 0;
			}
		}
		let obj = JSON.parse(that.nextSibling.value);
		obj.cantidadHoras = that.value;
		that.nextSibling.value = JSON.stringify(obj, null, 2);

		console.log("el nuevo hidden es:", that.nextSibling.value);

		  document.getElementById("total_fases").value = total;
	    }

	function addEstimation() {
		document.querySelectorAll('input[type=checkbox]').forEach(function(checkElement) {
			checkElement.checked = false;
		});

		let objectoFases = sessionStorage.getItem('fases');
		let fases = JSON.parse(objectoFases);
		let tablaDiv = document.getElementById('tablaEstimaciones');
		let tablaActual = document.createElement('table');
		countEstimation++;
		tablaActual.id= "cargarFase";
		tablaActual.tagName="cargarFase";
		tablaActual.title = "Estimacion Tabla";
		tablaActual.className = "table table-sm table-striped table-hover";
		let tHead = document.createElement('thead');
		tHead.className= "text-white";
		let trHeadColumns = document.createElement('tr');

		trHeadColumns.innerHTML = '<th scope="col">Fase</th>' +
				'<th scope="col">Horas</th>' +
				'<th>Eliminar</th>';
		let tBody = document.createElement('tbody');
		tBody.id= "fasesTable";
		for (const fase of fases) {
			tBody.appendChild(buildFase(fase, countEstimation));
		}

		tHead.appendChild(trHeadColumns);
		tablaActual.appendChild(tHead);
		tablaActual.appendChild(tBody);

		let card = document.createElement("div");
		card.className = "card";
		card.id = "card_" + countEstimation;
		card.style.marginTop = "0.625rem";
		let cardHeader = document.createElement("div")
		cardHeader.className = "card-header text-white bg-primary mb-3";
		cardHeader.innerHTML = '<div>' +
				'<input type="text" value="" placeholder="Nombre estimación" name="namesEstimation[]" class="form-control" />' +
				'<label>Version: '+countEstimation+'</label>'+
				'</div>'+
				'<div style="float: right;margin-right: 20px;">' +
				'<label for="activeEstimation[]"> Activo</label>' +
				'<input type="checkbox" id="checkbox1" name="checkbox1" class="onoffswitch-checkbox" onchange="verifyWhenDisabledInput(this);" checked>'+
				'</div>';
		let cardBody = document.createElement("div");
		cardBody.className = "card-body text-white bg-secondary mb-3";
		cardBody.style.maxWidth = "34rem";
		cardBody.style.marginTop = "-0.9rem";

		let sectionGeneralAction = document.createElement("div");
		sectionGeneralAction.className = "row py-3";
		sectionGeneralAction.innerHTML =
		'<div class="col-sm-2">'+
		'<button type="button" class="btn btn-danger btnDelete"  style="margin-top: 20px;" href="#" onclick="deleteAllEstimation(this);">Eliminar la estimacíon</button>'+
		'</div>'+
		'<div class="col-sm-2">'+
		'<button type="button" class="btn btn-primary" style="margin-top: 20px;margin-left:120px;" data-bs-toggle="modal" data-bs-target="#new-phase-modal">Agregar fase</button>'+
		'</div>';
		cardBody.appendChild(tablaActual);
		cardBody.appendChild(sectionGeneralAction);
		card.appendChild(cardHeader);
		card.appendChild(cardBody);

		tablaDiv.appendChild(card);

		createEstimationObj(countEstimation, cardBody);

		document.getElementById("longitudEstimaciones").value = $(".horas").length;

	}
	function buildFase(fase, index) {
		const trFases = document.createElement('tr');
		trFases.id = "row_' + index + '";
		let htmlInputs =
				'<td>' + fase + '</td>' +
				'<td>' +
				  '<div class="col-sm-6">' +
				  '<input type="number" id="cantidadHoras" name="cantidadHoras" class="horas" value="0" min="0" class="form-control text-end" onchange="calculateTotal(this);" onkeydown="if (event.keyCode == 13) { return false;}"/>' +
				  '<input type="hidden" id="estimacionHidden" name="estimacionHidden" class="estimacionHidden" />'+
				  '</div>' +
				'</td>'+
				'<td><button type="button" class="btn btn-danger btnDelete" href="#" onclick="deletePhase(this)">X</button></td>';
			trFases.innerHTML = htmlInputs;
		return trFases;
	}
	function loadFases() {
		/* Function load fases depends at requirement type selected */
		var enumFases = [[${T(com.workschedule.app.enums.Fase).values()}]];
		var fases = Object.values(enumFases);
		console.log("estas son las fases:", fases);
		var fasesFilter = [];
		if(this.value != null && this.value != "empty") {
			removeDisabledButtonAddEstimation();
			switch (this.value) {
				case 'EVOLUTIVO':
					fasesFilter = fases;
					break;
				case 'CORRECTIVO':
				case 'REWORK':
				case 'EMERGENCIA':
					fasesFilter = fases.filter(fase => fase !== "SOPORTE_PRUEBAS_PI" && fase !== "SOPORTE_PRUEBAS_PAU");
					break;
				case 'ANALISIS':
					fasesFilter = fases.filter(fase => fase === "ANALISIS");
					break;
				default:
					disabledButtonAddEstimation();
					//mandar un alerta no se encontraron valores por deafult
					break;
			}
		} else {
			disabledButtonAddEstimation();
			removeAllElementTable();
			//mandar un alerta que el valor es null (contactar con el administrador)->
		}
		sessionStorage.setItem('fases', JSON.stringify(fasesFilter));
	}

	function disabledButtonAddEstimation() {
		let button = document.getElementById("addEstimationBtn");
		button.setAttribute("disabled", "disabled");
	}

	function removeDisabledButtonAddEstimation() {
		document.getElementById("addEstimationBtn").disabled = false;
	}

	function addNewPhase() {
		let tBody = document.getElementById("fasesTable");
		let valNewPhase = document.getElementById('namePhase');
		let rows = document.getElementById("fasesTable").rows.length;
		tBody.appendChild(buildFase(valNewPhase.value, rows + 1));
		let modalEl1 = document.getElementById("new-phase-modal");
		let modal = bootstrap.Modal.getInstance(modalEl1);
		modal.hide();
	}

	function deletePhase(that) {
		if(that.parentNode.parentNode.nextSibling == null && that.parentNode.parentNode.previousSibling == null) {
			  that.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.remove();
		}
		that.parentNode.parentNode.remove();
		calculateTotal(that);
	}

	function deleteAllEstimation(that) {
		that.parentNode.parentNode.parentNode.parentNode.remove();
	}

	function removeAllElementTable() {
		let fasesRow = document.getElementById('fasesTable');
		while (fasesRow.firstChild) {
			fasesRow.removeChild(fasesRow.firstChild);
		}
	}

	function disabledAllInput() {
	document.querySelectorAll("#cantidadHoras").forEach(
				(currentInput) => {
					currentInput.setAttribute("disabled", "");
	         });
	}

	function verifyWhenDisabledInput(that) {
		console.log("es el checkbox 1 -->" ,that.parentNode.parentNode);
		console.log("es el checkbox 2 -->" ,that.parentNode.parentNode.parentNode.children.namedItem("cargarFase"));
		console.log("es el checkbox 3 -->" ,that.parentNode.parentNode.parentNode.parentNode);
		if(that.checked) {
			document.querySelectorAll('input[type=checkbox]').forEach(function (checkElement) {
				checkElement.checked = false;
			});
			that.checked = true;
		}

		that.parentNode.parentNode.parentNode.querySelectorAll("#cantidadHoras").forEach(
				(currentInput) => {
					let objEstimacion = JSON.parse(currentInput.nextSibling.value);
					if(that.checked === true ) {
						currentInput.removeAttribute("disabled");
						objEstimacion.activo = 1 ;
					} else {
						currentInput.setAttribute("disabled", "");
						objEstimacion.activo = 0;
					}
					currentInput.nextSibling.value = JSON.stringify(objEstimacion, null, 2);
				}
		);

	}

</script>

</body>
</html>