<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body style="background-image: linear-gradient(to right, #5c5f62, #53565a, #494e52, #40454a, #373d42);">

	<header th:replace="layout/layout :: header"></header>
	<div class="card bg-light my-4">
		<!-- 		<div class="card-header" th:text="${titulo}"></div> -->
		<div class="card-body" style="background: linear-gradient(to right, #2980b9, #2c3e50);">
			<div class="container py-1">
				<form class="row row-cols-lg-auto g-5 align-items-center">
					<div class="col-12">
						<!-- 						<label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label> -->
						<div class="input-group">
							<div class="input-group-text">Requerimiento:</div>
							<input type="text" class="form-control"
								id="reqFilter" placeholder="Ej: MOR-100" field="reqFilter" name="reqFilter" th:value="${reqFilter}">
						</div>
					</div>

					<div class="col-12">
						<div class="input-group">
							<div class="input-group-text">Aplicación:</div>
							<select class="form-select" field="appFilter" id="appFilter" name="appFilter">
								<option value="" disabled="disabled" selected="selected">Seleccionar...</option>
								<option th:each="aplicacion: ${aplicaciones}"
									th:text="${aplicacion.nombre}" th:value="${aplicacion.id}" th:selected="${aplicacion.id} == ${appFilter}">
								</option>
							</select>
						</div>
					</div>

					<div class="col-12 ">
							<button type="submit" class="btn btn-outline-light" onclick="validar();">Buscar ... </button>
					</div>
					<div class="col-12 ">
							<button type="button" class="btn btn-outline-light" onclick="borrarFiltro();">Eliminar ... </button>
					</div>
				</form>
			</div>
		</div>

		<div class="card" style="background: linear-gradient(to right, #2980b9, #2c3e50);">
			<div class="card-header text-white" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/requerimientos/form}" class="btn btn-light btn-xs">Crear
						Requerimiento</a>
				</h4>
				<table class="table table-striped table-sm" >
					<thead>
						<tr>
<!-- 							<th>ID</th> -->
							<th class="text-white">APLICACIÓN</th>
							<th class="text-white">REQUERIMIENTO</th>
							<th class="text-white">DESCRIPCIÓN</th>
							<th class="text-white">CANTIDAD HORAS</th>
							<th class="text-white">ESTADO</th>
							<th class="text-center text-white">ACCIÓN</th>
<!-- 							<th class="text-center">Ver/Editar</th> -->
<!-- 							<th class="text-center">Eliminar</th> -->
						</tr>
					</thead>

					<tbody th:if="${not requerimientos.isEmpty()}">
						<tr th:each="requerimiento: ${requerimientos}">
<!-- 							<td><a th:text="${requerimiento.id}"></a></td> -->
<!-- 								th:href="@{/app/ver/} + ${usuario.id}" th:text="${usuario.id}"></a></td> -->

							<td class="text-white" th:text="${requerimiento.aplicacion.nombre}"></td>
							<td class="text-white" th:text="${requerimiento.requerimiento}"></td>
							<td class="text-white" th:text="${requerimiento.descripcion}"></td>
							<td class="text-white" th:text="${requerimiento.cantidadHoras}"></td>
							<td class="text-white" th:text="${requerimiento.estado}"></td>
							<td class="text-center">
								<a class="btn btn-outline-light btn-sm" th:href="@{/requerimientos/editar/} + ${requerimiento.id}" 
									style="border-radius: 50%;" data-toggle="tooltip" title="Editar">
									<i class="bi bi-pencil-square"></i>
								</a>
								<a class="btn btn-outline-light btn-sm" style="border-radius: 50%;" data-toggle="tooltip" title="Eliminar"
									th:href="@{/requerimientos/eliminar/} + ${requerimiento.id}"
									onclick="return confirm('Estas seguro que quieres eliminar?')">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
<!-- 							<td class="text-center"><a class="btn btn-outline-danger btn-sm"  -->
<!-- 								th:href="@{/requerimientos/eliminar/} + ${requerimiento.id}" -->
<!-- 								onclick="return confirm('Estas seguro que quieres eliminar?')"> -->
<!-- 								<i class="bi bi-trash3"></i> -->
<!-- 							</a></td> -->
						</tr>
					</tbody>

				</table>
				<div th:if="${not requerimientos.isEmpty()}">
					<nav th:replace="paginator-nav :: paginator"></nav>
				</div>
			</div>
		</div>
		 
		 <div class="alert alert-danger m-0" th:unless="${not requerimientos.isEmpty()}" th:text="'No se encontraron requerimientos para la busqueda solicitada'"></div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript">
// 		function validar(){
// 			var aplicacion = document.getElementById('aplicaciones');
// 			if(aplicacion.value == 0 || aplicacion.value == ''){
// 				alert('Debe seleccionar una aplicacion para buscar');
// 				aplicacion.focus();
// 			}
// 		}
		function borrarFiltro(){
			window.location = '/requerimientos/listar-requerimientos';
		}
 	</script> 

</body>
</html>